<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brix Example Site</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Avenir" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <!-- top navigation -->
  <nav id="topNavigation" class="navbar navbar-expand-lg navbar-dark bg-dark text-center"></nav>

  <!-- side navigation -->
  <nav class="sidenav navbar navbar-dark bg-dark">
    <div id="sideNavigation" class="row"></div>
  </nav>

  <br>
  <br>

  <div class="row g-0">
    <div class="col-3"></div>
    <div class="col">
      <!-- component viewer -->
      <div id="componentView">

        <!-- component page card body -->
        <div class="card pane-overflow cardBoxShadow text-center text-bg-dark mb-3">
          <div class="row g-0">
            <div class="col-5">

              <!-- component page header -->
              <h5 id="componentHeader">Form Fields</h5>

              <!-- component tabs -->
              <div class="col g-0">
                <div class="card-header">
                  <ul id="componentTabs" class="nav nav-tabs card-header-tabs" role="tablist">
                  </ul>
                </div>
              </div>

              <div class="card-body">
                
                <!-- component options list and display -->
                <div id="componentTabPane" class="tab-content">

                </div>
              </div>
            </div>

            <!-- pane displays -->
            <div id="paneDisplays" class="tab-content col"></div>

          </div>

          <!-- tab option modals -->
          <div id="tabOptionModal"></div>
        </div>
      </div>

    </div>
    <div class="col-1"></div>
  </div>


  <script src="../../js/loaders/NavLoader.js"></script>
  <!-- <script src="../../js/loaders/TabLoader.js"></script> -->
  <script src="../../js/loadPage.js"></script>
  <script src="../../js/combo.js"></script>

  <script src="../../js/pageObject.js"></script>
  <!-- <script src="js/FormFieldLoader.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>