<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brix Example Site</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Avenir" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="css/formField.css">
  <link rel="stylesheet" href="css/textField.css">
</head>

<body>
  <nav id="topNavigation" class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
  </nav>

  <nav class="sidenav navbar navbar-dark bg-dark">
    <div id="sideNavigation" class="row"></div>
  </nav>

  <div class="container">
    <br>
    <div id="componentView">
      <div class="card cardBoxShadow text-center text-bg-dark mb-3">
        <div class="row g-0">
          <div class="col">
            <h5 id="componentHeader" class="card-header">Selectors</h5>

            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-bg-dark active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Radio Buttons</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link text-bg-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Checkboxes</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-bg-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                      type="button" role="tab" aria-controls="profile" aria-selected="false">Switches</button>
                  </li>
              </ul>
            </div>

            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                  <div class="row">
                    <!-- list -->
                    <div class="col-4">
                      <div class="list-group" id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#home2" role="tab">Form field with error message</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile2" role="tab">Form field with icon</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages2" role="tab">Form field disabled</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field with error message</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile2" role="tab">Form field with icon</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages2" role="tab">Form field disabled</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field with error message</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile2" role="tab">Form field with icon</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages2" role="tab">Form field disabled</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field with error message</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#profile2" role="tab">Form field with icon</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#messages2" role="tab">Form field disabled</a>
                        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#settings2" role="tab">Form field</a>
                      </div>
                    </div>
                    <!-- display -->
                    <div class="col">
                      <div class="tab-content">
                        <div class="tab-pane active" id="home2" role="tabpanel">

                          <div class="zeroHeightComponentBox">
                            <div class="zeroHeightDisplayAdjust">
                              <label class="fieldLabel" for="basic">Basic field</label>
                              <input id="basicError" type="text" name="basic">
                              <div class="inputBasicError">
                                <scan class="material-icons">error</scan>
                                <label class="errorMessage">Error Message</label>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="tab-pane" id="profile2" role="tabpanel">asdfasdf</div>
                        <div class="tab-pane" id="messages2" role="tabpanel">fdasdfasdf</div>
                        <div class="tab-pane" id="settings2" role="tabpanel">sdasdfdfasd</div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                  <div class="row">
                    <div class="col-4">
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                          </div>
                        </a>
                      </div>
                    </div>

                    <div class="col">
                      <div class="zeroHeightComponentBox">
                        <div class="zeroHeightDisplayAdjust">

                          <label for="basicDisabled">Text area<span
                              class="basicDisabled required">&nbsp;*</span></label>
                          <textArea class="basicDisabled" disabled></textArea>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <script src="../../js/dataArrays/pages.js"></script>
  <script src="../../js/components/componentTopNav.js"></script>
  <script src="../../js/components/componentSideNav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
</body>

</html>